doctype html
html
   head
      title Immersive Reader Homework Application

      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')

      // A polyfill for Promise is needed for IE11 support.
      script(src='https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js')

      script(src='https://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.1.0.0.js')
      script(src='https://code.jquery.com/jquery-3.3.1.min.js')

      style(type="text/css").
        .login {
            border: azure;
            border-style: blueviolet;
            border-width: 5px;
            height: 250px;
            margin-top: -125px;
            width: 400px;
            margin-left: -200px;
            position: absolute;
            left: 50%;
            top: 50%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .loginInputText {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
        }

        .loginRegisterButtons {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
        }
        }



   body
      div(class="login")
        div(class="loginInputText")
          p(style="align-self:center") Username
          input(id="Username" type="text")
          p(style="align-self:center") Password
          input(id="Password" type="password")
          p(id="ErrorText" style="align-self:center;color:red;")
        div(class="loginRegisterButtons")
          button(id="LogIn" type="button") Log in
          button(id="Register" type="button") Register



script(type="text/javascript").

    function EnableLoginError(){
        document.getElementById("ErrorText").innerHTML = "Invalid username or password!";
    }

    function EnableRegisterError(){
        document.getElementById("ErrorText").innerHTML = "User already exists!";
    }

    function LoginAsync() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: "/Login",
                type: "POST",
                data: {
                    "username":$("#Username").val(),
                    "password":$("#Password").val()
                },
                success: function (data) {
                    if (data.error) {
                        reject(data.error);
                    } else {
                        resolve(data);
                    }
                },
                error: function (err) {
                    reject(err);
                }
            });
        });
    }

    function RegisterAsync() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: "/Register",
                type: "POST",
                data: {
                    "username":$("#Username").val(),
                    "password":$("#Password").val()
                },
                success: function (data) {
                    if (data.error) {
                        reject(data.error);
                    } else {
                        resolve(data);
                    }
                },
                error: function (err) {
                    reject(err);
                }
            });
        });
    }

    $("#LogIn").click( function (){
        LoginAsync()
            .then(function(response){
              if(response == "userExists")
                window.location.replace("/");
              else EnableLoginError();
            }); 
    });

    $("#Register").click( function (){
        RegisterAsync()
            .then(function(response){
              console.log(response);
              if(response == "userRegistered")
                window.location.replace("/");
              else if(response == "dbError"){}
              else 
                EnableRegisterError();
            }); 
    });